.render-users {
  width: 32rem;
  margin: 1rem auto;
}
.render-user {
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  height: 2.5rem;
  padding: 0.5rem 1rem;
}
